*{
	margin: 0;
}

input{
	border-radius:3px;
	border: 1px solid #000;
	width: 17%;
	margin: 10px 1px;
	position:relative;
	left:5px;
}
.contorno{
	height: 250px;
	width: 250px;
	border: 3px solid blue;
	position: relative;
	padding: 30px;
}

#salida, #salida2{
	border: 1px solid #000;
	height: 10%;
}

.rojas input {
	width: 30%;
	color:red;
}

