@font-face { 
	font-family: "Annie"; 
	font-style: normal; 
	font-weight: ; 
	src: url(annie_use_your_telescope1.woff2); 
} 

@font-face{ 
	font-family: "Annie2"; 
	font-style: normal; 
	font-weight: normal; 
	src: url(annie_use_your_telescope.woff2); 
} 

@font-face { 
	font-family: "Lucky"; 
	font-style: normal; 
	font-weight: ; 
	src: url(luckiest_guy.woff2); 
} 

body{
	margin: 0 20px;
	position: relative;
	background-color: gainsboro;
}

img{
	border: 4px solid cadetblue;
	padding: 10px;
	display: inline-block;
	width: 15%;
}

.textoCentrado{
	display: inline-block;
	width: 66%;
	text-align: center;
	position: absolute;
	top: 2%;
}

h1{ 
	font-family: "Lucky"; 
	display: inline-block;
	font-size: 70px;
	text-align: center;
	margin: 20px auto;
} 

.derecha{
	position: absolute;
	right: 0;
}



.discontinua{ 
	font-family: "Annie2"; 
	width: 60%;
	border-top: dashed;
	border-left: dashed;
	border-radius: 10px 0 0 0 ;
	font-size: 30px;
}

.subrayado{ 
	font-family: "Annie2"; 
	width: 60%;
	border-bottom: double;
	border-right: double;
	border-radius: 0 0 10px 0;
	font-size: 30px;
	position: relative;
	left: 40%;
	background-color: aliceblue;

}

footer{ 
	
	/*width: 0%;*/
	
	font-size: 25px;
	position: relative;
	left: 40%;
}

footer>img{
	border: none;
	display: inline-block;
	width:5%;
}